.SingleBook img {
    height: 500px;
    object-fit: cover;
    position: relative;
}

.SingleBook {
    border: 1px solid gainsboro
}

.card-body {
    height: 80px;
    display: flex;
    align-items: center;
}

.Card-Container:has(.SingleBook.selected) {
    border: 2px solid red;
}

.Card-Container {
    border: 2px solid gainsboro;
    border-radius: 0.375rem;
}

.comment{
    max-width: 80%;
}

.comment-area{
    word-break: break-all;
}

.inner-container{
    max-height: 800px;
    overflow-y: scroll;
    height: 100%;
}

 /*scrollbar style*/
 
.inner-container::-webkit-scrollbar {
    width: 5px;
  }

.inner-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

.inner-container::-webkit-scrollbar-thumb {
    background: #888; 
  }

.inner-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/*END scrollbar style*/

.text-default-comment{
    word-break: normal;
}

.SingleBook:hover img{
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}

.card-button{
    visibility: hidden;
    position: absolute;
    bottom: 80px;
    right: 0;
    left: 0;
}

.SingleBook:hover .card-button{
    visibility: visible;
    transition: 0.5s;
}

.bookTitle{
    word-break: normal
}
