/* Modalità di transizione più fluida tra light e dark */
body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Modalità dark personalizzata */
  body.bg-dark {
    background-color: #343a40 !important;
    color: white !important;
  }
  
  /* Modalità light personalizzata */
  body.bg-light {
    background-color: #f8f9fa !important;
    color: #212529 !important;
  }
  